footer {

	color: white;
	height: 60px;
	width: 100%;
	border-top : 1px solid #CCCCCC;
	bottom: 0;
	position: fixed;
	display: flex;
	text-color: black;
	align-items: center;
	justify-content: center;
}

footer {

	margin: 0;
}
